dist
.next
examples/*/out
node_modules
pnpm-lock.yaml
storybook-static
packages/icons/src/icons
apps/docs/demos/index.ts
apps/docs/demos/sources.json
packages/cli/registry.json
registry/api.json
docs/bundle-size.md
**/*.md
